<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccessLayer.Properties.Settings.ConnString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;C:\Users\User\Dropbox\IT 3191\PasswordBank\PasswordBank\Bank.mdf&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>